.first-column {
    width: 4%;
    align-self: center;
}

.second-column {
    width: 48%;
}

.third-column {
    width: 48%;
}

.dnnGrid {
    width: 98%;
}

.dnnGridHeader {
    border-bottom: 1px black solid;
    font-weight: bold;
    font-size: 110%;
}

.dnnGridItem {
    border-bottom: 1px #eee solid;
    background: #fff;
}
